<a href="https://colab.research.google.com/github/LIMYoHaBin32/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC9%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1-1
a = 'test'
b = '~~.test.~~'
c = '~test!'

print(a.lstrip())
print(b.lstrip('~. '))
print(c.lstrip('~!'))

test
test.~~
test!

In [4]:
#1-2
a = 'test'
b = '~~.test.~~'
c = '~test!'

print(a.rstrip())
print(b.rstrip('~ '))
print(c.rstrip('~!'))

test
~~.test.
~test

In [5]:
#2-1
a = ' test'
b = '~~.test.~~ '
c = '~test!'

print(a.strip())
print(b.strip('~ '))
print(c.strip('~!'))

test
.test.
test

In [6]:
#2-2
text = ' Water boils at 100 degrees '
print('[' + text.rstrip() + ']')
print('[' + text.lstrip() + ']')
print('[' + text.strip() + ']')

[ Water boils at 100 degrees]
[Water boils at 100 degrees ]
[Water boils at 100 degrees]

In [7]:
#3
text = '0000000Water boils at 100 degrees 000'
print(text.lstrip('0'))
print(text.rstrip('0'))
print(text.strip('0'))

text = ",,,,,123.....water....pp"
print(text.lstrip(',123.p'))
print(text.rstrip(',123.p'))
print(text.strip(',123.p'))

text = ' Water boils at 100 degrees '
print(text.lstrip(' Water'))
print(text.rstrip(' degrees '))
print(text.strip(' degrees '))

Water boils at 100 degrees 000
0000000Water boils at 100 degrees
Water boils at 100 degrees
water....pp
,,,,,123.....water
water
boils at 100 degrees
 Water boils at 100
Water boils at 100

In [8]:
#4
txt = "  Hz  "
x = txt.isspace()
print(x)


sentence = input("문자열을 입력하시오: ")
table = { "알파벳" : 0, "숫자" : 0, "빈칸" : 0 }

for i in sentence :
    if (i.isalpha()):
        table["알파벳"] += 1
    elif (i.isdigit()):
        table["숫자"] += 1
    elif (i.isspace()):
        table["빈칸"] += 1
print(table)

False
문자열을 입력하시오: 1
{'알파벳': 0, '숫자': 1, '빈칸': 0}

In [10]:
#5
### 우측 정렬 예
s = '가나다라'
n = 7

answer = ''
for i in range(n-len(s)): # 문자열의 앞을 빈 문자열로 채우는 for 문
    answer += ' '
answer += s

In [11]:
#6
s = '가나다라'
n = 20

print(s.ljust(n)) # 좌측 정렬

print(s.center(n)) # 가운데 정렬

print(s.rjust(n)) # 우측 정렬

가나다라
        가나다라
                가나다라

In [12]:
#7-1
s = "a b c d e f g"
print(f's         : {s}')

r = s.split()
print(f's.split() : {r}')

s         : a b c d e f g
s.split() : ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [13]:
#7-2
s = "aa.bb.cc.dd.ee.ff.gg"
print(f's                : {s}')

r0 = s.split()
r1 = s.split('.')
r2 = s.split(sep='.')
print(f"s.split()        : {r0}")
print(f"s.split('.')     : {r1}")
print(f"s.split(sep='.') : {r2}")

s                : aa.bb.cc.dd.ee.ff.gg
s.split()        : ['aa.bb.cc.dd.ee.ff.gg']
s.split('.')     : ['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg']
s.split(sep='.') : ['aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg']

In [15]:
#7-3
s = "aa.bb.cc.BlockDMask.ee.ff.gg.python.example"
print(f'{s}')

r0 = s.split()
r1 = s.split('.', 3)
r2 = s.split(sep='.', maxsplit=3)
r3 = s.split('.', maxsplit=3)
print(f"\ns.split()\n{r0}")
print(f"\ns.split('.', 3)\n{r1}")
print(f"\ns.split(sep='.', maxsplit=3)\n{r2}")
print(f"\ns.split('.', maxsplit=3)\n{r3}")

aa.bb.cc.BlockDMask.ee.ff.gg.python.example

s.split()
['aa.bb.cc.BlockDMask.ee.ff.gg.python.example']

s.split('.', 3)
['aa', 'bb', 'cc', 'BlockDMask.ee.ff.gg.python.example']

s.split(sep='.', maxsplit=3)
['aa', 'bb', 'cc', 'BlockDMask.ee.ff.gg.python.example']

s.split('.', maxsplit=3)
['aa', 'bb', 'cc', 'BlockDMask.ee.ff.gg.python.example']

In [16]:
#8-1
txt = "홈짱닷컴\nHomzzang.com"

x = txt.splitlines()

print(x)

['홈짱닷컴', 'Homzzang.com']

In [17]:
#8-2
g = 'Milk\nChicken\r\nBread\rButter'

print(g.splitlines())
print(g.splitlines(True))

g = 'Milk Chicken Bread Butter'
print(g.splitlines())

['Milk', 'Chicken', 'Bread', 'Butter']
['Milk\n', 'Chicken\r\n', 'Bread\r', 'Butter']
['Milk Chicken Bread Butter']

In [18]:
#9
text = '123,456,789,999'

replaceAll= text.replace(",","")
replace_t1 = text.replace(",", "",1)
replace_t2 = text.replace(",", "",2)
replace_t3 = text.replace(",", "",3)
print("결과 :")
print(replaceAll)
print(replace_t1)
print(replace_t2)
print(replace_t3)

결과 :
123456789999
123456,789,999
123456789,999
123456789999

In [19]:
#10
a = ['a', 'b', 'c', 'd', '1', '2', '3']
print(a)
print()

# 리스트를 문자열로 : join 이용
result1 = "".join(a)
print(result1)


# 리스트를 문자열로 : 하나하나 문자열을 더해서.
result2 = ''
for v in a:
    result2 += v

print(result2)

['a', 'b', 'c', 'd', '1', '2', '3']

abcd123
abcd123

In [20]:
#11
print( "3".zfill(3) )

print( "s".zfill(4) )


for x in range(3):
    print( str(x).zfill(4) )


str = '1234'
str_zero = str.zfill(8)
print(str_zero)

003
000s
0000
0001
0002
00001234

In [22]:
#12
a="abc"

print(a.rjust(10))

print(a.rjust(10,'#'))

b="def"

print(b.ljust(15))

print(b.ljust(15,'k'))

       abc
#######abc
def
defkkkkkkkkkkkk