<a href="https://colab.research.google.com/github/LIMYoHaBin32/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC6%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1-1
str = input("How old are you")
print(str , 'years old', sep='')

How old are you20
20years old

In [9]:
# 1-2번
x = float(input('number : '))
print(x)

number : 20
20.0

In [21]:
#1-3
year = input("This year: ")
year = eval(year)
year = year + 1
print("Next year:", year)

This year: 2024
Next year: 2025

In [24]:
#2
i= 0
result = 0
while i < 5:
		a = input("성적 입력 : ")
		result += int(a)
		i += 1
print(f'평균 : {result / 5}')

성적 입력 : 69
성적 입력 : 74
성적 입력 : 88
성적 입력 : 9
성적 입력 : 99
평균 : 67.8

In [27]:
#3-1
test_list = ['one','two','three']
for i in test_list:
  print(i)

one
two
three

In [28]:
#3-2
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
#3-3
index = 0
s = "BlockDMask"
for a in s:
    if a == 'k':
        break    # 'k'를 찾았으니 for문에서 나와랏!

    index = index + 1


print(index)    # 'k'가 첫번째로 존재하는 위치 출력

4

In [30]:
#3-4
result = 0
for a in range(1,101):  # 1 ~ 100
    result = result + a    # a를 더해주고

    if result > 100:    # result가 100이 넘었을때
        print(a)        # 그때의 a값을 출력
        break

print(result)

14
105

In [31]:
#3-5
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
    if a > 170:
        continue  # 키가 170보다 크면 continue

    print(a)

170
164

In [32]:
#3-5
result = 0
for a in range(1,101):  #1 ~ 100
    if a % 2 == 1:      #2로 나누었을때 나머지가 1
        result = result + a

print(result)

2500

In [33]:
#3-6
l = ['Alice','Bob','Charlie']

for name in l:
		print(name)
else:
		print('!!FIISH!!')

Alice
Bob
Charlie
!!FIISH!!

In [34]:
for name in l:
		if name == 'Bob':
				print('!BREAK!')
				break
		print(name)
else:
		print('!!FINISH!!')

Alice
!BREAK!

In [38]:
#4
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
        for c in s:
            if c == 'r':
                cnt += 1
print(cnt)

4

In [39]:
#5-1
a = []    # 빈 리스트 생성

for i in range(10):
    a.append(0)    # append로 요소 추가

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [40]:
#5-2
a = []    # 빈 리스트 생성

for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가

print(a)

[[0, 0], [0, 0], [0, 0]]

In [42]:
#9-1
print(list(range(0, 10, 3)))

[0, 3, 6, 9]

In [43]:
#9-2
print(list(range(10, 0, -3)))

[10, 7, 4, 1]

In [44]:
#9-3
for i in range(10, 0, -3):
		print(i)

10
7
4
1

In [45]:
#7-1
l = ['Alice','Bob','Charlie']

for name in l:
		print(name)

for i, name in enumerate(l):
		print(i, name)

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie

In [46]:
#7-2
for i, name in enumerate(l, 1):
		print(i, name)
for i, name in enumerate(l, 42):
		print(i, name)

1 Alice
2 Bob
3 Charlie
42 Alice
43 Bob
44 Charlie