<a href="https://colab.research.google.com/github/LIMYoHaBin32/Python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC10%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
def my_avg(x1, x2):
    """
    This function calculates average value of two numbers
    x1: first input number
    x2: second input number
    """
    avg_val = (float(x1) + float(x2))/2
    return avg_val

In [ ]:
#2-1
def func1():
    print('QuartZ')

# 함수 호출
func1()
func1()
func1()

QuartZ
QuartZ
QuartZ

In [ ]:
#2-2
def func2(a, b):
		print(f'{a} 곱하기 {b} = {a * b}')

# 함수 호출
func2(1, 2)
func2(1, 3)
func2(2, 4)

1 곱하기 2 = 2
1 곱하기 3 = 3
2 곱하기 4 = 8

In [ ]:
#2-3
def func3():
    return "abcdefg"

# 함수 호출
a = func3()
print(a + "GG")

abcdefgGG

In [5]:
#3-1
# 구구단 출력
for i in range(1, 10):
    print(f'{2} x {i} = {2 * i}')
for i in range(1, 10):
    print(f'{3} x {i} = {3 * i}')

# . . .
for i in range(1, 10):
    print(f'{9} x {i} = {9 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [7]:
#3-2
def gugudan(num):
    for i in range (1, 10):
        print(f'{num} x {i} = {num * i}')

# 구구단 출력
gugudan(2)
gugudan(3)
# . . .
gugudan(9)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [10]:
#4-1
# 디폴트 파라미터 예제 1
def func1(a, b=5, c=10):
    return a + b + c

func1(1, 2, 3)  # 1 + 2 + 3
func1(1, 2) # 1 + 2 + 10
func1(1)  # 1 + 5 + 10
# fun1() error

# 디폴트 파라미터 예제 2
def func2(a=10, b=20):
    return a + b

func2(1, 2) # 1 + 2
func2(1)  # 1 + 20
func2() # 10 + 20

30

In [11]:
#4-2
def func3(a = 10, b, c):  # error
    return a + b + c

func3(1, 2) # 1이a이고 2가 b에 들어가는 거겠지..?
            # 왓 츄 원? error
func3( , 1, 2)  # 이걸 원해? error

SyntaxError: non-default argument follows default argument (<ipython-input-11-36add1931f2b>, line 2)

In [12]:
#5-1
def func6(*args):
    a = 0
    for i in args:
        a = a + i
    return a

b = func6(1, 2)
print(b)

c = func6(2, 3, 4, 5)
print(c)

d = func6(1, 2, 3, 4, 5, 4, 3, 2, 1)
print(d)

e = func6()
print(e)

3
14
25
0

In [13]:
#5-2
def test(*val):
    for i in val:
        print(i)

test(1, 'a','c',3)

1
a
c
3

In [20]:
#5-3
def sum_mul(choice, *val):
    if choice == 'sum':
        result = 0
        for i in val:
          result = result + i
    elif choice == 'mul':
        result = 0
        for i in val:
          result = result * 1
    return result


print (sum_mul('sum', 1,2,3,4,5 ))

print (sum_mul('mul', 1,2,3,4,5 ))

15
0

In [23]:
#6-1
def comp (score=0):
    if score == 0:
        return 0
    elif score > 50:
        return 2
    else:
        return 1

grade = comp (69)
print ("Grade is", grade, "for", 69)

grade = comp (74)
print ("Grade is", grade, "for", 74)

grade = comp ()
print ("Grade is", grade, "for no score")

Grade is 2 for 69
Grade is 2 for 74
Grade is 0 for no score

In [24]:
#7-1
def report(name, age, score):
    print(name, score)

report(age=19, name="QuartZ", score=74)

QuartZ 74